.container {
  height: 100%;
}

.carousel {
  display: flex;
  height: 100%;
}

.carousel__image {
  display: none;
}

.carousel__image.active {
  display: block;
  margin: auto;
  width: 60%;
}

.carousel__button {
  width: 30%;
  display: flex;
}

.carousel__left {
  justify-content: flex-end;
}

.carousel__right {
  justify-content: flex-start;
}

.arrow {
  color: white;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 0;
}

.arrow__left {
  left: 30%;
}

.arrow__right {
  right: 30%;
}

@media only screen and (max-width: 600px) {
  .carousel__button {
    width: 10%;
    display: flex;
  }

  .carousel__image {
    margin: auto;
    width: 80%;
  }

  .arrowLeft {
    left: 50%;
  }

  .arrowRight {
    right: 50%;
  }
}
