.carousel {
  display: flex;
}

.carousel__image {
  grid-area: image;
  margin: auto;
}

.carousel__button {
  width: 100%;
  display: flex;
}

.carousel__left {
  justify-content: flex-end;
}

.carousel__right {
  justify-content: flex-start;
}

.arrowLeft {
  color: white;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  left: 30%;
  margin: 0;
}

.arrowRight {
  color: white;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  right: 30%;
  margin: 0;
}

/* .carousel__right {
  grid-area: right;
} */
