.aboutme {
  display: flex;
  width: 80%;
  margin: 5em auto;
}

.aboutme__header {
  font-size: 2em;
}

.aboutme__description {
  font-size: 0.9em;
  line-height: 1.25em;
  padding: 2em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutme__header {
  margin-bottom: 0.75em;
}

.aboutme__contactme {
  display: flex;
  width: 30%;
  justify-content: flex-start;
}

.aboutme__blurb {
  margin-bottom: 1em;
}

.aboutme__pic {
  padding: 2em 4em;
  width: 50%;
  margin: auto;
}

.aboutme__link {
  margin-right: 1.5em;
}

@media only screen and (max-width: 600px) {
  .aboutme {
    flex-direction: column;
  }

  .aboutme__pic {
    padding: 2em 0;
    width: 100%;
  }
  .aboutme__description {
    width: 100%;
    padding: 1em 0.5em 3em 0.5em;
    text-align: center;
  }

  .aboutme__contactme {
    width: 100%;
    justify-content: center;
  }
}
