.header {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 85% 15%;
  height: 1em;
}

.header__logo {
  width: 300px;
}

.header__nav {
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
}

.header__link:hover {
  color: #1d252c;
  cursor: pointer;
}
