.header {
  margin: auto;
  background-color: white;
  display: flex;
  grid-template-columns: 85% 15%;
  justify-content: space-between;
  position: fixed;
  left: 0;
  padding: 2em 10em 0 10em;
  margin: auto;
  width: 100%;
  top: 0;
}

.header__logo {
  width: 300px;
}

.header__nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 10em;
}

.header__nav a {
  text-decoration: none;
}

.header__link:hover,
.header__link.active {
  color: #1d252c;
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .header__logo {
    width: 250px;
  }
}
